<div class="container mtb"></div>
    <div class="col-lg-8">
        <div class="hline"></div>
        <h3>Corona förhållningsregler</h3>
        <ul>
            <li>Stanna hemma vid minsta sjukdomssymptom</li>
            <li>Håll avstånd och tvätta händerna ofta</li>
            <li>Minska köbildning vid fikat</li>
            <li>Använd handsprit innan du tar fika</li>
            <li>Sitt vid designerade platser</li>
            <li>Max en person i 3d-printerummet åt gången</li>
        </ul>
    </div><!--/col-lg-8 -->
</div><!--/container -->