---
layout: default
---

{% include wrap.html %}

<div class="container mt">
    <div class="row">

        {% include carousel.html %}

        <div class="col-lg-5 col-lg-offset-1">
            <div class="spacing"></div>

            {{ content }}

        </div>
        <div class="col-lg-4 col-lg-offset-1">
            <div class="spacing"></div>
            <h4>Projektdetaljer</h4>
            <div class="hline"></div>
            <p><b>Datum:</b> {{ page.date | date: "%b %-d, %Y" }}</p>
            <p><b>Författare:</b> {{ page.author }}</p>
        </div>
    </div><! --/row -->
</div><! --/container -->
	 
{% include projects.html title="Related Works." limit=5 %}
